/**
Copyright 2019
**/

@media (min-width: 1201px)
{
    
}

/* Portrait */
@media screen and (min-device-pixel-ratio: 2) and (orientation: portrait)
{
    ::-webkit-scrollbar { display: none; }
    
}

/* Landscape */
@media screen and (min-device-pixel-ratio: 2) and (orientation: landscape)
{
}

/* ----------- Android ----------- */

/* Portrait */
@media only screen and (min-device-width: 360px) and (max-device-width: 846px) and (orientation: portrait)
{
    ::-webkit-scrollbar { display: none; }
    
}

/* Landscape */
@media only screen and (min-device-width: 360px) and (max-device-width: 846px) and (orientation: landscape)
{ 
}

/* ----------- Galaxy S9+ ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 658px) and (orientation: portrait)
{
    
}

/* ----------- Galaxy Z Fold 5 ----------- */

/* Portrait */
@media only screen and (min-device-width: 344px) and (max-device-width: 882px) and (orientation: portrait)
{
    ::-webkit-scrollbar { display: none; }
}

/* ----------- iPhone 6, 6S, 7, 8, XR ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait)
{
    ::-webkit-scrollbar { display: none; }
}

/* ----------- End iPhone 6, 6S, 7, 8, XR ----------- */

/* ----------- iPhone 6+, 7+, 8+, 14 ProMax ----------- */

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (min-device-pixel-ratio: 3) and (orientation: portrait)
{ 
    ::-webkit-scrollbar { display: none; }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (min-device-pixel-ratio: 3) and (orientation: landscape)
{ 

}

/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (min-device-pixel-ratio: 3) and (orientation: portrait)
{
    ::-webkit-scrollbar { display: none; }
}

/* ----------- End iPhone X ----------- */

/* ----------- iPhone 12 Pro, XR ----------- */

@media only screen and (min-device-width: 390px) and (max-device-width: 844px) and (orientation: portrait)
{

}

/* ----------- End iPhone 12 Pro ----------- */

/* ----------- iPhone 14 Pro Max ----------- */
@media only screen and (min-device-width: 430px) and (max-device-width: 932px) and (orientation: portrait)
{
    
}

/* ----------- End iPhone 14 Pro Max ----------- */

/* ----------- iPhone 15 Pro ----------- */

@media only screen and (device-width: 393px) and (device-height: 852px) and (orientation: portrait)
{
    
}

/* ----------- iPhone 15 Pro ----------- */